{% extends "base/base.html" %}
{% load static %}

    {% block contenidoNavBar  %}

    <header>
        <h1>Acerca de nosotros</h1>
    </header>
    <section>
        <p> Buenas! Somos Franco y Lucas. Dos amigos y compañeros apasionados por la programación</p>
        <p> Ambos trabajamos como soporte, y nuestra meta es poder aprender cada día más sobre lenguajes de programación para poder trabajar como desarrolladores.</p>
        <p> Para este proyecto nos hicimos un esquema de como queríamos que sean nuestras Apps y nos dividimos el trabajo, nos llevó mucho esfuerzo pero creemos que pudimos hacer un buen proyecto y en conjunto, que al principio parecia facil, pero no lo era tanto. </p>
        <p> En resumen, estamos satisfechos con nuestro trabajo realizado. Nos esforzaremos para perfeccionarlo en cada oportunidad de mejora que nos sea provista en las correcciones.</p>
    </section>

  {% endblock %}
