{% extends "base/base.html" %}
{% load static %}

{% block contenidoNavBar %}

  <h1>{{ blog.titulo }}</h1>
  <h5>{{ blog.subtitulo }}</h5>
  <p>Publicado: {{ blog.fechaBlog }}</p>
  <p>Autor: {{ blog.autor.username }}</p>
  <img src="{% static 'blogs-imagenes/' %}{{ blog.imagen }}">
  <p>{{ blog.contenido }}</p>

  {% if user.is_authenticated and user == blog.autor or user.is_staff %}
    <a href="{% url 'blogsAppEditarBlog' pk=blog.id %}">Editar</a>
    <a href="{% url 'blogsAppEliminarBlog' pk=blog.id %}">Borrar</a>
  {% endif %}

  <h2>Comentarios</h2>
  <ul>
    {% for comentario in comentarios %}
      <li>
        <p><strong>{{ comentario.autor.username }}</strong> dijo:</p>
        <p>{{ comentario.contenido }}</p>
        <p><small>{{ comentario.fechaComentario }}</small></p>
      </li>
    {% empty %}
      <li>No hay comentarios todavía.</li>
    {% endfor %}
  </ul>
  {% if request.user.is_authenticated %}
  <form method="post" action="{% url 'blogsAppDetalleBlog' pk=blog.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Agregar comentario</button>
  </form>
  {% endif %}
{% endblock %}