{% extends "base/base.html" %}
{% load static %}

{% block contenidoNavBar %}
    {% if blogs %}
    {% for blog in blogs %}
        <h3>{{ blog.titulo }}</h3>
        <p>Autor: {{ blog.autor }}</p>
        {% if user.is_authenticated and user == blog.autor or user.is_staff %}
        <a href="{% url 'blogsAppEditarBlog' pk=blog.id %}">Editar</a>
        <a href="{% url 'blogsAppEliminarBlog' pk=blog.id %}">Borrar</a>
        {% endif %}
        <a class="btn btn-primary" href="{% url 'blogsAppDetalleBlog' blog.pk %}">Leer más</a>
        {% endfor %}
    {% else %}
    <h2 style="color: #ff0000;">No existen publicaciones</h2>
    {% endif %}
{% endblock %}